@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.menu-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-closed {
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
